<?xml version="1.0"?>

<!--
	/**
	 * @author Kashyap Team
	 * @copyright Copyright (c) 2018 Kashyap (http://kashyapsoftware.com/)
	 * @package Kashyap_GoogleAnalytics
	*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ks_googleanalytics" frontName="ks_googleanalytics">
            <module name="Kashyap_GoogleAnalytics" before="Magento_Backend"/>
        </route>
    </router>
</config>
